body {
    background-color: #D0BFFF;
}

#body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
}

#button-container {
    display: flex;
    background-color: #a78fff;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

button {
    border-radius: 10px;
    display: flex;
    flex: 1;
    height: 60px;
    min-width: 60px;
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    font-size: 16px;
    background-color: #FFF3DA;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

button * {
    flex: 1;
}

button:hover {
    background-color: #d1c6b0;
}

#div-container {
    display: flex;
    flex-direction: column;
    /*background-color: blue;*/
    width: 512px;
    height: 512px;
    background-color: white;
}

.pixel {
    flex: 1;
    transition: 0.5s;
}